@use "../../globals" as variables;

.categoriesMenu {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 35px);
  left: 0;
  width: 30%;
  height: calc(100vh - 135px);
  background-color: black;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transform: translateX(0);
  animation: fade-in 0.2s linear;
  &::before {
    content: "";
    background-color: black;
    opacity: 0.3;
    top: 0;
    width: 200vw;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
  }

  a {
    color: variables.$main-color;
    text-decoration: none;
  }

  &.hide {
    transform: translateX(-100%);
    animation: fade-out 0.2s linear;

    &::before {
      display: none;
    }
  }
}

@keyframes fade-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
